# Week8 Homework
## Working with Strings

The data frame contains notes taken by staff members. Your task is to clean it up to make it usable for analysis. 

### Tasks
* Create start date, end date columns and populate the values (If notes don't include month or day use 1 for missing value) 

i.e: 
    
    - 2018 => 2018-01-01  
    - June 2021 => 2021-06-01  
    - 2020 => 2020-01-01

* Create phone number column (If notes don't include phone numbers, use None)
* Create a column `duration` showing difference between start & end dates in years as a whole number

Note: Choose one of the following datasets to work on based on your taste!

In [62]:
import pandas as pd
import re
import datetime as dt

In [63]:
# spicy = 'https://raw.githubusercontent.com/msaricaumbc/DS_Data/master/strings/hw_data_spicy.csv'
less_spicy = 'https://raw.githubusercontent.com/msaricaumbc/DS_Data/master/strings/hw_data_less_spicy.csv'

In [64]:
df = pd.read_csv(less_spicy, index_col=0)

In [65]:
df.head(20)

,email,notes
0,margaret41@santos.info,start July 1970/end 2013-06-17
1,donna16@jimenez.com,start 1971-02 end 04/10/2012
2,edwardslinda@cabrera-murphy.org,start January 1977 end 12/20/2018 pn: 001-464-...
3,gutierrezdenise@hotmail.com,start 1986-02 end February 2010
4,jherrera@koch.com,start 1975/end 07/27/2018
5,meganmcdonald@wallace.info,start January 1996/end May 2017
6,martinkellie@thomas-cannon.net,start 2002-08-03-end 09/11/2016
7,elizabethmoore@hotmail.com,start 1978/end 2020-09
8,rosemarcus@yahoo.com,start 2008-11-30/end 2011-12/P# 001-467-263-22...
9,jessicacosta@henson.com,start 2003-11 end February 2018 P# +1-946-742-...
10,luke71@burton.net,start 1980-04-end 2010-08-pn: 736.011.4403x188
11,tbaker@duncan-ortiz.com,start December 1972-end 2021-p/n 001-689-196-...
12,morgan26@gmail.com,start 1993-03-16-end 2020-04-p# 884-899-3487x...
13,melissacrawford@brown.info,start 1995/end 03/13/2016
14,dgarcia@gmail.com,start 2009-03 end 2018-05
15,rosalestiffany@lewis-hutchinson.com,start December 2002 end July 2021
16,ksmith@yahoo.com,start 1982/end 2017
17,christopherbowen@gmail.com,start 2006/end 2020
18,paulstone@frey-miller.com,start 2004-11-28/end June 2016
19,jillgutierrez@gmail.com,start 1979-10/end 11/25/2019/P# (208)502-7177

In [66]:
startDate = []
endDatePhn = []

for i, values in enumerate(df['notes']):
    index1 = values.index('start')
    index2 = values.index('end')
    end_res = values.split('end',1)
    strt = values[index1 + len('start') + 1: index2]
    strt = strt.strip()
    startDate.append(strt)
    endDatePhn.append(end_res[1])

In [67]:
df['startDate'] = startDate

In [68]:
df

,email,notes,startDate
0,margaret41@santos.info,start July 1970/end 2013-06-17,July 1970/
1,donna16@jimenez.com,start 1971-02 end 04/10/2012,1971-02
2,edwardslinda@cabrera-murphy.org,start January 1977 end 12/20/2018 pn: 001-464-...,January 1977
3,gutierrezdenise@hotmail.com,start 1986-02 end February 2010,1986-02
4,jherrera@koch.com,start 1975/end 07/27/2018,1975/
...,...,...,...
1995,valerieguerra@yahoo.com,start 05/04/1988-end 08/19/2018,05/04/1988-
1996,williamsbryan@yahoo.com,start 1978-08-end 2017-06-p# 1886569390,1978-08-
1997,lkirby@may-blanchard.com,start 05/06/1984/end 08/11/2021,05/06/1984/
1998,elizabethrussell@yahoo.com,start 2004-02-22 end 2018 p/n 709.702.0599x5879,2004-02-22
1999,mark83@gmail.com,start 1977-01-31 end 05/18/2020,1977-01-31

In [76]:
reg = re.compile(r'((\/|\-|\s)?p(((n|\/n)\:?)|\#))', re.I)
reg1 = re.compile(r'(((\/|\-|\s)?p(((n|\/n)\:?)|\#))(.*?))', re.I)

phn = []
end_date = []

for i in endDatePhn:
    date = re.split(reg, i)
    end_date.append(date[0].strip())
#     print(date)
#     print(end_date)
    test = []
    match = re.search(reg1, i)
    #print(match)
    #print(reg1)
    if match:
        test.extend(re.findall('.*\S.*', match.group(1)))
#         print(test)
        ph_num = i.split(test[0],1)[1]
#         print("ph_nmu",ph_num)
        phn.append(ph_num.strip())
    else:
        phn.append('None')

In [70]:
df['endD'] = end_dates
df['Phn'] = phone_numbers

In [71]:
df

,email,notes,startDate,endD,Phn
0,margaret41@santos.info,start July 1970/end 2013-06-17,July 1970/,2013-06-17,None
1,donna16@jimenez.com,start 1971-02 end 04/10/2012,1971-02,04/10/2012,None
2,edwardslinda@cabrera-murphy.org,start January 1977 end 12/20/2018 pn: 001-464-...,January 1977,12/20/2018,001-464-616-8819
3,gutierrezdenise@hotmail.com,start 1986-02 end February 2010,1986-02,February 2010,None
4,jherrera@koch.com,start 1975/end 07/27/2018,1975/,07/27/2018,None
...,...,...,...,...,...
1995,valerieguerra@yahoo.com,start 05/04/1988-end 08/19/2018,05/04/1988-,08/19/2018,None
1996,williamsbryan@yahoo.com,start 1978-08-end 2017-06-p# 1886569390,1978-08-,2017-06,1886569390
1997,lkirby@may-blanchard.com,start 05/06/1984/end 08/11/2021,05/06/1984/,08/11/2021,None
1998,elizabethrussell@yahoo.com,start 2004-02-22 end 2018 p/n 709.702.0599x5879,2004-02-22,2018,709.702.0599x5879
1999,mark83@gmail.com,start 1977-01-31 end 05/18/2020,1977-01-31,05/18/2020,None

In [72]:
df['startDate'] = df['startDate'].str.strip().str.strip('/').str.strip('-')
df['endD'] = df['endD'].str.strip().str.strip('/').str.strip('-')
df

,email,notes,startDate,endD,Phn
0,margaret41@santos.info,start July 1970/end 2013-06-17,July 1970,2013-06-17,None
1,donna16@jimenez.com,start 1971-02 end 04/10/2012,1971-02,04/10/2012,None
2,edwardslinda@cabrera-murphy.org,start January 1977 end 12/20/2018 pn: 001-464-...,January 1977,12/20/2018,001-464-616-8819
3,gutierrezdenise@hotmail.com,start 1986-02 end February 2010,1986-02,February 2010,None
4,jherrera@koch.com,start 1975/end 07/27/2018,1975,07/27/2018,None
...,...,...,...,...,...
1995,valerieguerra@yahoo.com,start 05/04/1988-end 08/19/2018,05/04/1988,08/19/2018,None
1996,williamsbryan@yahoo.com,start 1978-08-end 2017-06-p# 1886569390,1978-08,2017-06,1886569390
1997,lkirby@may-blanchard.com,start 05/06/1984/end 08/11/2021,05/06/1984,08/11/2021,None
1998,elizabethrussell@yahoo.com,start 2004-02-22 end 2018 p/n 709.702.0599x5879,2004-02-22,2018,709.702.0599x5879
1999,mark83@gmail.com,start 1977-01-31 end 05/18/2020,1977-01-31,05/18/2020,None

In [73]:
df['startDate'] = pd.to_datetime(df['startDate'])
df['endD'] =pd.to_datetime(df['endD'])
df

,email,notes,startDate,endD,Phn
0,margaret41@santos.info,start July 1970/end 2013-06-17,1970-07-01,2013-06-17,None
1,donna16@jimenez.com,start 1971-02 end 04/10/2012,1971-02-01,2012-04-10,None
2,edwardslinda@cabrera-murphy.org,start January 1977 end 12/20/2018 pn: 001-464-...,1977-01-01,2018-12-20,001-464-616-8819
3,gutierrezdenise@hotmail.com,start 1986-02 end February 2010,1986-02-01,2010-02-01,None
4,jherrera@koch.com,start 1975/end 07/27/2018,1975-01-01,2018-07-27,None
...,...,...,...,...,...
1995,valerieguerra@yahoo.com,start 05/04/1988-end 08/19/2018,1988-05-04,2018-08-19,None
1996,williamsbryan@yahoo.com,start 1978-08-end 2017-06-p# 1886569390,1978-08-01,2017-06-01,1886569390
1997,lkirby@may-blanchard.com,start 05/06/1984/end 08/11/2021,1984-05-06,2021-08-11,None
1998,elizabethrussell@yahoo.com,start 2004-02-22 end 2018 p/n 709.702.0599x5879,2004-02-22,2018-01-01,709.702.0599x5879
1999,mark83@gmail.com,start 1977-01-31 end 05/18/2020,1977-01-31,2020-05-18,None

In [79]:
df['duration'] = df['endD'].dt.year - df['startDate'].dt.year
df.head(25)

,email,notes,startDate,endD,Phn,duration
0,margaret41@santos.info,start July 1970/end 2013-06-17,1970-07-01,2013-06-17,None,43
1,donna16@jimenez.com,start 1971-02 end 04/10/2012,1971-02-01,2012-04-10,None,41
2,edwardslinda@cabrera-murphy.org,start January 1977 end 12/20/2018 pn: 001-464-...,1977-01-01,2018-12-20,001-464-616-8819,41
3,gutierrezdenise@hotmail.com,start 1986-02 end February 2010,1986-02-01,2010-02-01,None,24
4,jherrera@koch.com,start 1975/end 07/27/2018,1975-01-01,2018-07-27,None,43
5,meganmcdonald@wallace.info,start January 1996/end May 2017,1996-01-01,2017-05-01,None,21
6,martinkellie@thomas-cannon.net,start 2002-08-03-end 09/11/2016,2002-08-03,2016-09-11,None,14
7,elizabethmoore@hotmail.com,start 1978/end 2020-09,1978-01-01,2020-09-01,None,42
8,rosemarcus@yahoo.com,start 2008-11-30/end 2011-12/P# 001-467-263-22...,2008-11-30,2011-12-01,001-467-263-2241x61560,3
9,jessicacosta@henson.com,start 2003-11 end February 2018 P# +1-946-742-...,2003-11-01,2018-02-01,+1-946-742-6723x151,15
10,luke71@burton.net,start 1980-04-end 2010-08-pn: 736.011.4403x188,1980-04-01,2010-08-01,736.011.4403x188,30
11,tbaker@duncan-ortiz.com,start December 1972-end 2021-p/n 001-689-196-...,1972-12-01,2021-01-01,001-689-196-2871x45531,49
12,morgan26@gmail.com,start 1993-03-16-end 2020-04-p# 884-899-3487x...,1993-03-16,2020-04-01,884-899-3487x89277,27
13,melissacrawford@brown.info,start 1995/end 03/13/2016,1995-01-01,2016-03-13,None,21
14,dgarcia@gmail.com,start 2009-03 end 2018-05,2009-03-01,2018-05-01,None,9
15,rosalestiffany@lewis-hutchinson.com,start December 2002 end July 2021,2002-12-01,2021-07-01,None,19
16,ksmith@yahoo.com,start 1982/end 2017,1982-01-01,2017-01-01,None,35
17,christopherbowen@gmail.com,start 2006/end 2020,2006-01-01,2020-01-01,None,14
18,paulstone@frey-miller.com,start 2004-11-28/end June 2016,2004-11-28,2016-06-01,None,12
19,jillgutierrez@gmail.com,start 1979-10/end 11/25/2019/P# (208)502-7177,1979-10-01,2019-11-25,(208)502-7177,40
20,yhubbard@aguirre-wallace.com,start 1989-09/end 2014-12/P# 990.062.6736,1989-09-01,2014-12-01,990.062.6736,25
21,richardsbrandon@whitaker-rivera.net,start 11/22/1973 end 2020 p/n 317.288.7834x23965,1973-11-22,2020-01-01,317.288.7834x23965,47
22,courtneydougherty@gardner.net,start 1979-09-end 2019,1979-09-01,2019-01-01,None,40
23,jessicajohnson@gmail.com,start 1995-04-25 end 2015-04,1995-04-25,2015-04-01,None,20
24,mooretommy@flynn.net,start 2007 end 07/24/2016,2007-01-01,2016-07-24,None,9